
---
name: Build and Publish
on:
  push:
    tags:
      - "v*.*.*"
    paths-ignore:
      - '*.md'

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Install Poetry
        run: |
          curl -sSL https://install.python-poetry.org | python3 - --version 1.8.5
          echo "$HOME/.local/bin" >> $GITHUB_PATH
      - name: Build and publish to PyPI
        env:
          POETRY_PYPI_TOKEN_PYPI: ${{ secrets.PYPI }}
        run: |
          poetry build
          poetry publish
